<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ucsm</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body class="container bg-neutral-800">

    <div class="container mx-auto px-4">
        
        <main role="main" class="p-4 bgimg2">
            <a href="/">
                <h1 class="text-3xl font-bold bg-white bg-opacity-50 p-3 m-3 inline-block mb-10">
                    Music world! 🤘
                </h1>
            </a>
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - ucsm
        </div>
    </footer>

    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>