@tailwind base;
@tailwind components;
@tailwind utilities;


.bgimg2 {
    background: url("../img/bg-img1.jpg") no-repeat center center fixed;
    background-repeat: repeat-y;
    background-size: cover;
}