@page "{AlbumId:int}"
@model ucsm.Pages.AlbumModel

@{
    ViewData["Title"] = "Album";
}

<div>
    <h2>@Model.Title</h2>
    <img src="https://via.placeholder.com/260" alt="Album title"/>
</div>
<span>@Model.AlbumId</span>

<p>Use this page to detail your site's privacy policy.</p>
